.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: white;
  text-align: center;
  background-color: #61dafb;
  width: 45vw;
  margin: 0 auto 1vw auto;
  border-radius: 15px;
  padding: 0.5em;
}
.container{
  text-align: center;
}

#name{
width: 15vw;
padding: 0.2vw;
border-radius: 15px;
background-color: #838486;
}

#email{
  width: 15vw;
padding: 0.2vw;
border-radius: 15px;
background-color: #838486;
}
input::placeholder{
  color: white;
}

#password{
  width: 15vw;
padding: 0.2vw;
border-radius: 15px;
background-color: #838486;
}
input{
margin-bottom: 1vw;
}
